body {
	background-color: DimGrey;
	max-width: 800px;

}

.container {
	position: relative;
}

.innovation_1 {
	position: absolute;
	top: 105.5px;
	left: 68.5px;
}

.explanation_1 {
	display: inline-block;
	width: 150px;
	position: relative;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	font: 0.8em "Arial", sans-serif;
	padding: 5px;
	top: -25px;
}

.innovation_2 {
	position: absolute;
	top: 191px;
	left: 310px;
}

.explanation_2 {
	display: inline-block;
	width: 790px;
	height: 125px;
	position: relative;
	background: rgb(38, 38, 38);
	color: white;
	font: 0.8em "Arial", sans-serif;
	padding: 5px;
	top: -140px;
}

.explanation {	
	opacity: 0;	
}

.popup:hover .explanation {
	opacity: 1;	
}

.popup:hover ~ .explanation {
	opacity: 1;	
}







